*{
    margin: 0;
    padding: 0;
    list-style: none;
}
html body{
    height: 100%;
    width: 15rem;
    overflow-x: hidden;
}
.top {
    width: 15rem;
    height: 2.64rem;
    background:rgba(255,255,255,1);
    box-shadow:0 0 0.06rem 0 rgba(0, 0, 0, 0.3);
}
.title{
    /*width:9rem;*/
    height:0.7rem;
    font-size:0.72rem;
    font-family:PingFang-SC-Bold;
    font-weight:bold;
    color:rgba(88,88,88,1);
    padding-left:0.62rem;
    padding-top: 1.4rem;
}
.imagelanguage{
    width: 1rem;
    height: 1rem;
}
/*点餐提示*/
.tipsBox{
    width: 13.72rem;
    height: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:rgba(247,239,212,1);
    border-radius:0.1rem;
    margin:0.64rem;
}
.tipsBox .span{
    font-size:0.56rem;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    padding-left: 2.6rem;
    color:rgba(129,129,129,1);
}
.spanRight{
    font-size:0.56rem;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(1,159,232,1);
    padding-left:0.4rem;
}
.tipsBox .close{
    width: 0.32rem;
    height: 0.32rem;
    padding-left: 1.6rem;
    line-height: 0.32rem;
    text-align: center;
    padding-right:0.52rem;
}
/*搜索*/
.outsource {
    width: 100%;
    height: 24.04rem;
}

.search {
    line-height: 1.6rem;
    margin-left: 0.64rem;
    display: flex;
    align-items: center;
    width: 13.72rem;
    height:1.6rem;
    border-radius: 0.8rem;
    border: 0.02rem solid#B6B6B6;
    font-size: 0.56rem;
    color: #b6b6b6;
}
.icon-sousuo {
    width: 0.48rem;
    height: 0.48rem;
    padding:0 0.4rem;
    font-size: 0.96rem;
    text-align: center;
    background: url("../img/search.png") no-repeat center center;
    background-size:0.48rem 0.48rem;
}
.input {
    width: 11.72rem;
    display: block;
    font-size:0.56rem;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(182,182,182,1);
    outline: none;
}

.paddingtop {
    width: 100%;
    height: 0.44rem;
}
/*搜索结束*/
.padding {
    height: 0.64rem;
    width: 100%;
}

.Part {
    width: 100%;
    height: 20rem;
    display: flex;
}
.left {

    width: 3.68rem;
    height: 19.6rem;
    background: #ebebeb;
    padding-top: 0.64rem;

}

.li {
    width: 3.68rem;
    height: 1.84rem;
    display: block;
    font-family: PingFang-SC-Medium;
    font-size: 0.56rem;
    line-height: 1.84rem;
    text-align: center;
    text-decoration: none;
    color:rgba(178,178,178,1);
}

.li.active {
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    color: #edc954;
    background: #fff;
}

.right {
    width: 11.36rem;
     height: 19.6rem;
    padding-left: 0.48rem;
    padding-bottom: 2rem;
    overflow-y: scroll;
}

.smalltitle {
    width: 10.2rem;
    height: 1.84rem;
    font-size: 0.48rem;
    font-family: PingFang-SC-Medium;
    color: #000;
    line-height: 1.84rem;
}
.goods {
    position: relative;
    width: 10.2rem;
    height: 3.8rem;
    display: flex;
    box-sizing: border-box;
    padding-top: 0.52rem;
    padding-left: 0.48rem;
    box-shadow: 0  0.04rem 0.2rem #EAEAEA;
}

img {
    width: 100%;
    height: 100%;
}

.image {
    display: inline-block;
    width: 2.88rem;
    height: 2.84rem;
    float: left;
}

.information {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 5.52rem;
    height: 2.84rem;
    background: #fff;
    float: left;
    padding-left: 1.5rem;
}

.h1 {
    font-family: PingFang-SC-Medium;
    font-size: 0.6rem;
    color: #585858;
}

.p {
    font-family: PingFang-SC-Medium;
    font-size: 0.4rem;
    color: #cacaca;
}

.p2 {
    font-family: PingFang-SC-Medium;
    margin-top: 0.32rem;
    font-size: 0.4rem;
    color: #cacaca;
}

.price {
    display: flex;
    align-items: center;
    margin-top: 0.32rem;
    font-size: 0.6rem;
    color: #ff3e4d;
}

.price .span {
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    font-size: 0.8rem;
    color: #ff3e4d;
}
.iconfontbox{
    width: 2.68rem;
    height: 0.84rem;
    font-family: PingFang-SC-Regular;
    position: absolute;
    top:2.48rem;
    right: 0.52rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.iconfontbox .word{
    float: left;
    text-align: center;
    width: 1rem;
    font-size: 0.58rem;
    color: #000000;
    line-height: 1rem;
}
.word{
    font-size: 0.58rem;
}
.reduceshow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1.84rem;
    height: 100%;
}
.iconfont.icon-jianhao{
    float: left;
    width: 0.84rem;
    height: 0.84rem;
    background: url("../img/reduce.png") no-repeat center center;
    background-size:0.84rem 0.84rem;
}
.iconfont.icon-jiahao {
    width: 0.84rem;
    height: 0.84rem;
    background: url("../img/add.png") no-repeat center center;
    background-size:0.84rem 0.84rem;
}
/*底部商品添加*/

.screen{
    width: 15rem;
    height:26.28rem;
    background:rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
}
.bottomCar{
    position: fixed;
    bottom:2rem;
    left: 0;
    width: 15rem;
    max-height: 8.5rem;
    min-height:1.3rem;
    background: #FFFFFF;

}
.boxlicar{
    width: 100%;
    min-height: 0;
    max-height: 7.2rem;
    overflow: hidden;
    overflow-y: scroll;
}
.bottomCar .delete{
    font-size:0.48rem;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(141,141,141,1);
    padding: 0 0.64rem;
    box-sizing: border-box;
    width: 100%;
    height: 1.3rem;
    background:rgba(247,247,247,1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.clear_picture{
   width: 10.6rem;
}
.img{
    width: 0.5rem;
    height: 0.5rem;
    background: url("../img/qingkong.png") no-repeat center center;
    background-size: 0.5rem 0.5rem;
}
.licar .name{
    width: 3rem;
    font-size:0.6rem;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(141,141,141,1);
}
.span_center{
    font-size:0.56rem;
    font-family:PingFang-SC-Bold;
    font-weight:bold;
    color:rgba(255,62,77,1);
}
.bottomCar .licar{
    padding: 0 0.64rem;
    box-sizing: border-box;
    width: 100%;
    height: 1.8rem;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.04rem solid rgba(247,247,247,1);
}
.reduceshow{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.bottom_icon{
    width: 2.68rem;
    height: 0.84rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.car-bottom{
    background: #ffffff;
    box-sizing: border-box;
    padding-left:0.64rem;
    width: 100%;
    height: 2rem;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow:0rem 0rem 0.02rem 0rem rgba(195,195,195,1);
}

.icon-gouwuche{
    position: relative;
    width: 1rem;
    height: 1rem;
    background:url("../img/car.png") no-repeat center center ;
    background-size:100%;
}
.count{
    position: absolute;
    width: 0.56rem;
    height: 0.56rem;
    left: 0.52rem;
    top:-0.12rem;
    border-radius: 50%;
    text-align: center;
    line-height: 0.56rem;
    font-size: 0.44rem;
    background:#FF273B;
    color: #FFFFFF;
}
.bottom_price{
    width: 9.36rem;
    font-size: 0.92rem;
    color: #FF3E4D;
    display: flex;
    padding-left:0.72rem;
    align-items: center;
}
price_number{
    font-family: PingFang-SC-Bold;
    font-weight: Bold;
}
.payment{
    width: 4.04rem;
    height: 100%;
    background: #EDC954;
    font-size: 0.72rem;
    color: #FFFFFF;
    line-height: 2rem;
    text-align: center;
}


/*删除弹框*/
.deleteScreen{
    width: 15rem;
    height:27.28rem;
    background:rgba(0,0,0,0.2);
    position: fixed;
    top: 0;
    left: 0;
}
.deleteScreen .box{
    position: absolute;
    top: 9.4rem;
    left: 1.14rem;
    width:12.72rem;
    height:7.9rem;
    background:rgba(255,255,255,1);
    border-radius:0.1rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
}
.deleteScreen .title{
    width: 100%;
    height: 2rem;
    font-size:0.8rem;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(141,141,141,1);
    padding: 2.34rem 1rem 0;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
.buttonBox{
    padding-bottom: 2.34rem;
    width: 100%;
    height: 0.68rem;
    font-size:0.72rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(184,184,184,1);
}
.submit{
    padding:0 1.5rem;
}
.submit1{
    font-size:0.72rem;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(239,212,124,1);
    border-left:0.02rem solid rgba(202,202,202,1) ;
}

